<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>

    <h1>Twoot一覧</h1>
      <%=link_to "Twootを作成する", new_blog_path, class: 'btn btn-default'%>
      <% @blogs.each do |blog| %>
      <div class="row"> 
        
        <p><%=blog.content %></p>
        <%=link_to "Twootを編集する", edit_blog_path(blog.id), data: {confirm: "本当に編集していいですか？"}, class: 'btn btn-default btn-success'%>
        <%=link_to "Twootを削除する", blog_path(blog.id), method: :delete, data: {confirm: "本当に削除していいですか？"}, class: 'btn btn-default btn-success'%>
      </div>
      <% end %>
    </div>
  </div>
<%#=link_to "ブログを作成する", new_blog_path %>

	<!--<div class="gototop js-top">-->
	<!--	<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i>aaa</a>-->
	<!--</div>-->


